*{
  margin: 0px ;
    padding: 0px ;
    box-sizing: border-box;
}
body{
    background-color: #ffffff;
   
}
 nav{
    background-color: rgb(30, 30, 30, 1) ;
}
.navbar-brand > img{
    margin-left: 50px ;
    padding: 10px ;
    width: 180px;
    height: 100px;
}

  .top {
    padding-top: 25px;
    width: 100%;
    height: 90px;
    background-color: rgb(30, 30, 30, 1);
box-shadow: rgb(38, 57, 77) 0px 20px 30px -26px;
 }

 ul{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
    color: #ffffff;
    display: flex;
     justify-content: space-around;
     align-items: center;
     height: 40px;
}
li{
    list-style: none;
}
.btn1 {
    color: white;
    background-color: rgb(29, 29, 29);
    width: 120px;
    height: 50px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 30px; 
    font-family: sans-serif;
    font-size: 16px;

}
.btn2 {
    color: white;
    background-color: rgb(255, 0, 0);
    width: 120px;
    height: 50px;
    border: 2px solid rgb(255, 255, 255);
    border: none;
    border-radius: 30px; 
    font-family: sans-serif;
    font-size: 16px;

}
main{
    width: 100%;
height: 500px;
background-color: black;

}
main > h1{
    padding-top: 60px;
    padding-left: 150px;
    padding-right: 150px;
color: #ffffff;
text-align: center;
} 

main >p{
color: #ffffff;
text-align: center
}
.cards{
    display: flex;
justify-content: center;
flex-wrap: wrap;
justify-content: space-evenly;

}
.card-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.card-1 > img{
    margin-top: 10px;
    height: 150px;
    width: 200px;
    border-radius: 10px;
}
.btn3{
      color: white;
    background-color: rgb(29, 29, 29);
    width: 120px;
    height: 40px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 30px; 
    font-family: sans-serif;
    font-size: 14px;

}
.main-2 {
    height: 100vh;
    background-color: rgb(36, 36, 36)
} 
.main-2 > h1{
     padding-top: 60px;
    padding-left: 300px;
    padding-right: 300px;
color: #ffffff;
text-align: center;
}
.main-2 > p{
     padding-top: 60px;
    padding-left: 200px;
    padding-right: 200px;
color: #ffffff;
text-align: center;
}

.a-b{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.card-a {
    width: 50%;
}
.card-a >img{
    width: 300px;
}
.card-b >p{
    color: beige;
}
.container {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  gap: 20px;
}

.card {
  width: 300px;
  height: 350px;
  background: #000;
  color: #fff;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid #333;
}
.card i{
    padding-top: 20px;
    font-size: 50px;
    color: #ff0000;
}

.card h3 {
  font-size: 14px;
  letter-spacing: 2px;
  color: #ccc;
}

.card h1 {
  font-size: 22px;
  margin: 10px 0;
}

.card p {
  font-size: 16px;
  color: #aaa;
}
  footer{
    padding: 40px;
    background-color: #1e1e1e;
        display: flex;
        justify-content: center;
    }
.left{
    padding: 10px;
    width: 35%;
    display: flex;
    flex-direction: column;

}
.left >img{
    width: 150px;
    height: 150px;
}
.left >p{
    color: beige;
}
.side{
    padding: 20px;
    width: 20%;
}
.side >p{
    color: beige;
}

.middle{
    padding: 15px 35px;
    width: 25%;
}
.middle > p{
    color: beige;
}
.bold{
    font-weight: 800;
}

.right{
    padding: 20px;
    width: 20%;
}
.right > p{
    color: beige;
}
.icon > i{
    font-size: 30px;
    color: red;
}
.image > img{
    width: 150px;
}
.eb{
    padding-top: 20px;
    text-align: center;
    font-size: 70px;
    font-weight: 1000;
}
.main-3{
    padding: 20px;
    height: auto;
    background-color: black;
    /* display: flex; */
    /* justify-content: space-evenly; */
    /* flex-wrap: wrap; */
}
.main-3> h1{
    color: beige;
}
.cen{
    display: flex;
    justify-content: center;
}
.cen > h1{
    color: beige;
}
.old{
    font-weight: 900;
    font-size: 50px;
}
.old-1{
    padding: 10px;
    font-size: 35px;
    font-weight: 900;
}